# Configuration file

general {
    # An array containing the milestones: How many unique foods you must eat to get the milestone bonus (defined above). Note that this represents the TOTAL number of foods needed; not the foods since the last milestone!
    I:"Milestone amounts" <
        2
		4
		6
		8
		10
		12
		14
		16
		18
		20
		22
		24
		26
		28
		30
		32
		34
		36
		38
		40
		42
		44
		46
		48
		50
		55
		60
		65
		70
		75
		80
		85
		90
		95
		100
		110
		120
		130
		140
		150
		160
		170
		180
		190
		200
		210
		220
		225
		250
		275
		300
		325
		350
		375
		400
		500
		600
		700
		800
		1000
     >

    # Number of hearts you spawn with. [range: 1 ~ 30, default: 10]
    I:defaultHeartCount=10

    # Number of hearts you gain per milestone. [range: 1 ~ 30, default: 2]
    I:heartsPerMilestone=2

    # Add tooltips to foods to indicate if they have been eaten? [default: true]
    B:isFoodTooltipEnabled=true

    # Whether to show food progress messages (i.e. when you gain hearts or from /sizefoodlist) above the hotbar rather than in chat [default: true]
    B:shouldShowProgressAboveHotbar=true
}


